@page "/Explore"
<PageContent Title="Explore" PageTitle="Explore">
    <ChildContent>
        <div class="card">
            <h4>This is card in explore page</h4>
        </div>
    </ChildContent>
</PageContent>