@page "/"

<AuthorizeView>
    <PageContent PageTitle="Home">
        <ChildContent>
            <h1 class="mb-3">@($"Welcome {context.User.Identity?.Name}!")</h1>
            <CustomCarousel Id="sample1" T="int" Items="Enumerable.Range(1, 16).ToList()" VisibleSlideCount="4" Title="Your Saved Drafts">
                <CardTemplate Context="card">
                    <Card>
                        <CardHeader>
                            <CardTitle>
                                Active User @card
                            </CardTitle>
                        </CardHeader>
                        <CardBody>
                            Sample Card
                        </CardBody>
                    </Card>
                </CardTemplate>
            </CustomCarousel>
            <CustomCarousel Id="sample2" T="int" Items="Enumerable.Range(1, 16).ToList()" VisibleSlideCount="4" Title="Your Blogs">
                <CardTemplate Context="card">
                    <Card>
                        <CardHeader>
                            <CardTitle>
                                Sample Blog @card
                            </CardTitle>
                        </CardHeader>
                        <CardBody>
                            <p>This is your latest blog.</p>
                            <p>Have a glance.</p>
                        </CardBody>
                    </Card>
                </CardTemplate>
            </CustomCarousel>
            <CustomCarousel Id="sample3" T="int" Items="Enumerable.Range(1, 16).ToList()" VisibleSlideCount="4" Title="Your Projects">
                <CardTemplate Context="card">
                    <Card>
                        <CardHeader>
                            <CardTitle>
                                Sample Project @card
                            </CardTitle>
                        </CardHeader>
                        <CardBody>
                            <p>This is a good project.</p>
                        </CardBody>
                    </Card>
                </CardTemplate>
            </CustomCarousel>
        </ChildContent>
    </PageContent>
</AuthorizeView>