@page "/"

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <MudText Typo="Typo.h4">Welcome @context.User.Identity?.Name!</MudText>
    <MudText Typo="Typo.body1">This page is intended to show personalised feed</MudText>
    <MudDivider Light Class="my-4"/>
    <MudText Typo="Typo.h5">Your saved drafts</MudText>
    <div class="d-flex flex-nowrap py-4" style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap">
        @for (var i = 0; i < 16; i++)
        {
            <div class="me-2" style="display: inline-block; min-width: 400px;">
                <MudCard Class="pa-2" Outlined Elevation="0">
                    <MudCardHeader>
                        <MudText Typo="Typo.h6">Sample Draft</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">This is an incomplete draft.</MudText>
                        <MudText Typo="Typo.body1">Come back to finish and publish it.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Color="Color.Tertiary" Variant="Variant.Filled" DisableElevation>Go to Draft</MudButton>
                    </MudCardActions>
                </MudCard>
            </div>
        }
    </div>
    <MudDivider Light Class="my-4"/>
    <MudText Typo="Typo.h5">Your Blogs</MudText>
    <div class="d-flex flex-nowrap py-4" style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap">
        @for (var i = 0; i < 8; i++)
        {
            <div class="me-2" style="display: inline-block; min-width: 400px;">
                <MudCard Class="pa-2" Outlined Elevation="0">
                    <MudCardHeader>
                        <MudText Typo="Typo.h6">Your Sample Blog</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">This is your latest blog.</MudText>
                        <MudText Typo="Typo.body1">Have galance.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Color="Color.Tertiary" Variant="Variant.Filled" DisableElevation>Go to Blog</MudButton>
                    </MudCardActions>
                </MudCard>
            </div>
        }
    </div>
    <MudDivider Light Class="my-4"/>
    <MudText Typo="Typo.h5">Explore projects</MudText>
    <div class="d-flex flex-nowrap py-4" style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap">
        @for (var i = 0; i < 4; i++)
        {
            <div class="me-2" style="display: inline-block; min-width: 400px;">
                <MudCard Class="pa-2" Outlined Elevation="0">
                    <MudCardHeader>
                        <MudText Typo="Typo.h6">Sample Project</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body1">This is an interesting project.</MudText>
                        <MudText Typo="Typo.body1">Come and have a look at it.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Color="Color.Tertiary" Variant="Variant.Filled" DisableElevation>Go to Project</MudButton>
                    </MudCardActions>
                </MudCard>
            </div>
        }
    </div>
</AuthorizeView>