@page "/login"
<PageTitle>Login | @ApplicationConstants.AppName</PageTitle>
@attribute [AllowAnonymous]
@layout AuthLayout
<EditForm Model="_loginModel" OnValidSubmit="SubmitAsync">
    <div class="d-flex justify-center">
        <MudImage Src="logo.png" Width="450" ObjectFit="ObjectFit.Fill" />
    </div>
    <MudDivider Class="my-6" />
    <MudGrid>
        <DataAnnotationsValidator />
        <MudItem xs="12">
            <MudTextField Margin="Margin.Dense" Label="UserName" Variant="Variant.Outlined" @bind-Value="@_loginModel.UserName" For="(() => _loginModel.UserName)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Margin="Margin.Dense" Label="Password" Variant="Variant.Outlined" @bind-Value="@_loginModel.Password" For="(() => _loginModel.Password)" InputType="_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Log In</MudButton>
        </MudItem>
    </MudGrid>
    <MudDivider Class="my-8" />
    <div class="d-flex justify-space-between">
        <MudText Typo="Typo.body1">New User? <MudLink Href="/register" Typo="Typo.body1">Register new account</MudLink></MudText>
        <MudLink Href="/forgot-password" Typo="Typo.body1">Forgot Password?</MudLink>
    </div>
</EditForm>