@inherits LayoutComponentBase
<ModalContainer />
<ToastContainer />
<div class="page">
    <header class="navbar navbar-expand-md d-print-none navbar-dark sticky-top">
        <div class="container-xl">
            <h1 class="navbar-brand text-white">NOVEL INFINITE</h1>
            <button class="navbar-toggler" type="button" data-toggle="#navbar" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-2" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Personal">Personal</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Explore">Explore</NavLink>
                    </li>
                </ul>
                <div class="ms-auto">
                    <LoginDisplay />
                </div>
            </div>
        </div>
    </header>
    @Body
</div>
