@using System.Security.Claims
@using IdentityModel
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="Personal/Settings" class="text-white">
            Hello, @(context.User.FindFirstValue(JwtClaimTypes.PreferredUserName))!
        </a>
        <Button OnClick="BeginSignOut" BackgroundColor="TablerColor.Light" class="ms-2">Log out</Button>
    </Authorized>
    <NotAuthorized>
        <Button OnClick="@(() => NavigationManager.NavigateTo("authentication/login"))"
                BackgroundColor="TablerColor.Light">
            Log in
        </Button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut()
    {
        await SignOutManager.SetSignOutState();
        NavigationManager.NavigateTo("authentication/logout");
    }
}